In [1]:
print("HOPE AI")

HOPE AI

In [2]:
Name=input("Enter your institute name? :")
print(Name)

Enter your institute name? : HOPE AI

HOPE AI

In [3]:
Name=input("Enter your name:")
Age=input("Enter your age:")
School=input("Enter your school name:")
Qualification=input("Enter your degree:")
print(Name,Age,School,Qualification)

Enter your name: Raj
Enter your age: 16
Enter your school name: Guru school
Enter your degree: B.E CSE

Raj 16 Guru school B.E CSE

In [6]:
a=int(input("a:"))
b=int(input("b:"))
add=a+b
print("add = ",add)

a: 43
b: 34

add =  77

In [7]:
a=int(input("a:"))
b=int(input("b:"))
Sub=a-b
print("Sub = ",Sub)

a: 43
b: 34

Sub =  9

In [8]:
a=int(input("a:"))
b=int(input("b:"))
Mul=a*b
print("Mul = ",Mul)

a: 63
b: 97

Mul =  6111

In [11]:
a=int(input("a:"))
b=int(input("b:"))
print("FLoat Div = ",a/b)

a: 76
b: 31

FLoat Div =  2.4516129032258065

In [12]:
a=int(input("a:"))
b=int(input("b:"))
result=a//b
print("FLoor Div = ",result)

a: 76
b: 31

FLoor Div =  2

In [13]:
a=int(input("a:"))
b=int(input("b:"))
result=a%b
print("Modulo = ",result)

a: 76
b: 31

Modulo =  14

In [14]:
a=int(input("a:"))
b=int(input("b:"))
result=a**b
print("Power = ",result)

a: 4
b: 4

Power =  256